<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Esta familia está conformada por:</h2>
     <h3>{{lucas_nom}} {{lucas_ape}}</h3>
     <h4>{{lucas_nom}} es el {{lucas_rol}} de la familia.<br>Tiene {{lucas_edad}} años.
        Ósea que nacío el {{lucas_naci}}.<br> Trabaja como {{lucas_prof}}. </h4>
    <h3>{{miriam_nom}} {{miriam_ape}}</h3>
    <h4>{{miriam_nom}} es la {{miriam_rol}} de la familia.<br>Tiene {{miriam_edad}} años.
    ósea que nacío el {{miriam_naci}}.<br>Trabaja como {{miriam_prof}}.</h4>
    <h3>{{milagros_nom}} {{milagros_ape}}</h3>
    <h4>{{milagros_nom}} es la {{milagros_rol}} de la familia.<br>Tiene {{milagros_edad}} años.
    Ósea que nacio el {{milagros_naci}}.<br>Ella es {{milagros_prof}} en el secundario donde {{miriam_nom}} es docente.</h4>        
</body>
</html>